body {
	position:relative;
	margin: 0 auto;
}

#container {

}

.textBoxBlack {
	float: left;
	width: 230px;
	height: 230px;
	padding: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1em;
	background-color: #000;
	color: #fff;
}

.textBoxWhite {
	float: left;
	width: 228px;
	height: 228px;
	padding: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1em;
	background-color: #fff;
	color: #000;
	border-style: dotted;
	border-width: thin;
}

.textBoxBlackLarge {
	float: left;
	width: 460px;
	height: 210px;
	padding: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1em;
	background-color: #000;
	color: #fff;
}

.textBoxWhiteLarge {
	float: left;
	width: 458px;
	height: 208px;
	padding: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1em;	
	background-color: #fff;
	color: #000;
	border-style: dotted;
	border-width: thin;
}

.imageBox {
	float: left;
	width: 250px;
	height: 250px;
	padding: 0;
}

.classification {
	font-family: Cambria, "Hoefler Text", "Liveration Serif", Times, "Times New Roman", serif;
	font-size: 2.25em;
	padding-top: 150px;
}

.classificationCategories {
	font-family: Cambria, "Hoefler Text", "Liveration Serif", Times, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
}

h1 {
	font-family: Cambria, "Hoefler Text", "Liveration Serif", Times, "Times New Roman", serif;
	font-size: 2em;
	font-weight: bold;
}

h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 0;	
}

#footer {
	width: 100%;
	display: inline-block;
	padding-bottom: .25%;
	border-style: dotted;
	border-width: thin;
	text-align: center;
} 

#introductoryText {
	margin-top: 75px;
}

#nav a {
	text-decoration: none;
	color: #fff;
	color:visited: #fff;
	margin-right: 20px;
}

#nav a:hover {
	text-decoration: underline;
}

#nav {
	font-family: Cambria, "Hoefler Text", "Liveration Serif", Times, "Times New Roman", serif;
	width: 100%;
	padding-top: 75px;
	left-margin: 10px;
	font-size: 1.25em;
}

.audioBoxWhite {
	float: left;
	width: 228px;
	height: 228px;
	padding: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 2.5em;
	background-color: #fff;
	color: #000;
	border-style: dotted;
	border-width: thin;
	text-align: right;
}

.audioBoxWhite a {
	text-decoration: none;
	color:visited: #000;
	color: #000;
}

.audioBoxWhite a:hover {
	text-decoration: underline;
}

.audioBoxBlack a {
	text-decoration: none;
	color:visited: #fff;
	color: #fff;
}

.audioBoxBlack a:hover {
	text-decoration: underline;
}

.audioBoxBlack {
	float: left;
	width: 230px;
	height: 230px;
	padding: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 2.5em;
	background-color: #000;
	color: #fff;
	text-align: right;
}

#popupContainer {
	position: absolute;
	visibility: hidden;
	z-index: 100;
}

